* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
}

.all-users {
    width: 300px;
    max-width: 100%;
    margin: 50px auto;
}

.user {
    display: flex;
    gap: 20px;
    border: 2px solid #ddd;
    padding: 10px 15px;
    border-radius: 10px;
}

.user:not(:last-child) {
    margin-bottom: 20px;
}

.user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user .info h2 {
    line-height: 1;
}